@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --azul-dnc: #0c70f2;
    --preto-dnc: #303030;
    --cinza-dnc: #C9C9C9;

    --fonte-patrao: 'Inter', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgb(12, 112, 242, 0.5) 19.91%, rgb(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

#principal {
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bababa;
}
    #principal div a:hover {
        color: var(--cinza-dnc);
    }
    #principal button {
    margin-top: 35px;
    margin-bottom: 35px;
        align-items: center;
        margin-right: 5%;            
        border: 0px;
        color:white;
        background-color: var(--azul-dnc); 
        font-family: var(--fonte-patrao);
        box-shadow: 3px 2px 4px rgb(0, 68, 255);
        cursor: pointer;
        width: 65px;
        

    }

    #Menu {
        display: flex;
        width: 45%;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;

    }    

    #principal div a{
        font-family: var(--fonte-patrao);
        font-size: 25px;
        font-weight: 600;
        color:white;
        text-decoration: none;
    }

    /* seção principal do site */

    section {
        display: flex;
        flex-direction: column;        
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;

    }

    header {
        color: white;
        font-family: var(--fonte-patrao);
    }

    header h1 {
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center  ;
    }

    header h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 700;

        margin-bottom: 100px;
    }
    
    header .invert {
        background-color: black;
        font-weight: bold;
        padding: 5px;


    }

    /* fORMULARIO */

    form {
        color:white;
        font-family: var(--fonte-patrao);
        font-size: 30px;
        font-weight: 600;
        width: 600px;
    }

    .formgroup {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    form input {
        border-radius: 5px;
        border: 0;
        height: 30px;
        font-size: 20px;
        padding: 10 px;
        background-color: rgb(255, 255, 255, 0.9);

    }

    form label {
        margin: 10px 0px 10px 0px;

    }

    form input::placeholder {
        color: rgb(57, 57, 57, 0.5);

    }

    .chexbox-itens label {
        font-size: 25px;
    }

    .chexbox-itens {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    input[type="checkbox"] {
        transform: scale(1.7);
    }

    input[type="submit"]{
        background-color: rgb(12, 112, 242, 0.9);
        width: 100%;
        height: 56px;
        font-size: 32px;
        color:rgb(255, 255, 255);
        margin: 100px 0px 0px 0px;
        box-shadow: 0px 6px 4px rgb(12, 112, 242, 0.25);
        cursor: pointer;
    }